.item{
    background-color: #0697a6;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s;
    line-height: 37px;
    width: 120px;
    height: 40px;
    text-decoration: none;

}

.item:hover {opacity: 1}

.log {
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
}

.text {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 115px;
    font-size: 14px;
    }

.div {
    height:auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    padding: 10px 24px;
    display: grid;
}